.wrap {
    position: relative;
    height: 100%;
}

.login {
    position: relative;
    width: 80%;
    background-color: #F6F6F6;
}

.loginText {
    margin: 30px 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.loginBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBorder {
    padding: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 80%;
    margin: 15px 0 0 0;
    background-color: #F6F6F6;
}

.loginButton {
    border: 1px solid #066AD1;
    border-radius: 20px;
    margin: 40px 0 0 0;
    padding: 8px;
    width: 80%;
    background-color: #066AD1;
    color: white;
    font-weight: bolder;
}